<div class="container">
    <div class="header">
        <img src="https://s3-alpha-sig.figma.com/img/7517/0d27/6a35a9971373d0ed1f8fcc0c698f05b2?Expires=1627257600&Signature=NwDHhKOSZ0WmDuns2Lh8b8BNDVqe-esGuEcXTqAPrAQvALdkxQ82UEHlASqoi15UgDvMXydRmt17i72nLXlPi3U2~2Muey44zeih4bSWcLbnKRvQf4PWh2WvU-iR1YSX4q4iG3kfCcoIllikjrEtJuVay4Ie8LOp-gbpSHranOdXbBSorsdlnLrmbw9qj2spDRivf4jiU-pXrGqU4YqJXMSsdsr7ITJ16wI4zCjjkCbD55TPKGL~IWJAtxpR9anvP2DlYDieTLc3j-UZ5GLPc1UeAyXMKsRdg94IzY5M1BaaHigTLWrn03~SlpPWf7jjljMITWYn95hChqTpXHGy4A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" 
        >
    </div>   
    <div class="card">
    <h1>Manage Campaigns</h1>
    <p-tabView>
        <p-tabPanel header="Upcoming Campaigns">
            <app-upcoming></app-upcoming>
        </p-tabPanel>
        <p-tabPanel header="Live Campaigns">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
            </p>
        </p-tabPanel>
        <p-tabPanel header="Past Campaigns">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            </p>
        </p-tabPanel>
    </p-tabView>
    </div>

</div>

